* {
  border: none;
  margin: 0;
  padding: 0;
}

.dashboardHeaderContainer {
  display: flex;
  align-items: center;
  background-color: darkblue;
  min-height: 30rem;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 70vw;
  height: 100%;
  /* margin-top: 25%; */
  background-color: aliceblue;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;

  > img {
    object-fit: contain;
    position: absolute;
    width: 20vw;
    max-height: 50em;
    /* height: 100%; */
    margin-top: -20px;
    right: 0;
    top: 0;
  }
}
